/* ======================= Background Images ========================= */

#birds {
    background-image: url("../images/sky.jpg");
}

#fish {
    background-image: url("../images/water.jpg");
}

#form {
    background-image: url("../images/forest.jpg");
}

#index {
    background-image: url("../images/hills.jpg");
}

#mammals {
    background-image: url("../images/land.jpg");
}

#misc {
    background-image: url("../images/nature.jpg");
}



/* ====================== General Section =========================== */

a{
    color: black;
}

figure{
    text-align: center;
}


figure, table, footer, h1, h2, h3, fieldset, form > p, legend, figure + p, .needsBackground, caption{
    background-color: rgba(255,255,255,.5);
    font-family: "Comic Sans MS", cursive;
}

footer{
    font-style: italic;
    font-size: larger;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    width: 10em;
}

footer{
    grid-area: footer;
}

h1{
    text-align: center;
    color: blue;
}

img{
    width:100%;
}

p{
    padding:10px;
}

/* ===================== Nav Section ===================== */

.activePage{
    background-color: darkblue;
}

.activePage a{
    animation: colorChange 0.9s ease 0.9s infinite;
}

figcaption, h2, h3{
    text-align: center;
}

.mistake {
    background-color: red;
    text-align: center;
    font-size: 2em;
}

nav{
    grid-area: nav;
}

nav a{
    background-color: greenyellow;
    padding: 9% 30%;
    transition: padding 1s;
}

nav a:hover{
    background-color: yellow;
    padding: 9% 40%;
}

nav ul{
    padding:0;
    text-align: justify;
    width:100%;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    width:16.5%;
    padding: 1% 0%;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
}

nav ul li a{
    padding:9% 30%;
    text-decoration: none;
}

@keyframes colorChange{
    0%   {color: black}
    50%   {color: white}
    100%   {color: black}
}

/* ===================== Index Section ========================== */

header{
    grid-area: header;
}

#index{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto 10%;
    grid-template-areas: 
        "nav nav"
        "header header"
        "mammals fish"
        "birds misc"
        "table table"
        "footer footer";
}

#index table{
    grid-area: table;
}

#index:nth-child(3){
    grid-area: mammals;
}

#index:nth-child(4){
    grid-area: fish;
}

#index:nth-child(5){
    grid-area: birds;
}

#index:nth-child(6){
    grid-area: misc;
}

/* ===================== Form Section ======================= */

#form input[type=submit] {
   width: 12em;
   background-color: orange;
   color: white;
   padding: 1em;
   margin: auto;
   border: none;
   border-radius: 7px;
   cursor: pointer;
}

#form input[type=text], #form select {
   width: 20em;
   padding: 1em;
   margin: auto;
   border: thin solid #aaa;
   border-radius: 7px;
   box-sizing: border-box;
}

#form label {
   width: 7em;
   display: inline-block;
   margin-right: 2em;    
}

/* ===================== Grid Stuff ======================== */
#fish, #mammals, #misc, #birds{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto 10%;
    grid-template-areas: 
        "nav nav"
        "header header"
        "img1 info1"
        "img2 info2"
        "footer footer";
}

#fish, #mammals, #misc, #birds :nth-child(3){
    grid-area: img1;
}

#fish, #mammals, #misc, #birds :nth-child(4){
    grid-area: info1;
}

#fish, #mammals, #misc, #birds :nth-child(5){
    grid-area: img2;
}

#fish, #mammals, #misc, #birds :nth-child(6){
    grid-area: info2;
}

/* ======================= Media Queries ========================= */
@media all and (max-width: 850px) {
    nav ul li{
        padding: 1% 5%;
    }
    p {
        font-size: .85em;
    }
    h1{
        font-size: 1.6em;
    }
}

@media all and (max-width: 500px) {
    #fish, #mammals, #misc, #birds{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto 10%;
        grid-template-areas: 
            "nav"
            "header"
            "img1"
            "info1"
            "img2"
            "info2"
            "footer";
    }
}

@media all and (max-width: 500px) {
    #index{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto auto 10%;
        grid-template-areas: 
            "nav"
            "header"
            "mammals"
            "fish"
            "birds"
            "misc"
            "table"
            "footer";
    }
    p{
        font-size: .9em;
    }
    h1 {
        font-size: 1.4em;
    }
}

@media all and (max-width: 350px) {
    p{
        font-size: .75em;
    }
    h1 {
        font-size: 1em;;
    }
}

@media all and (min-width: 1200px) {
    #index{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto auto auto auto 10%;
        grid-template-areas: 
            "nav nav nav nav"
            "header header header header"
            "mammals fish birds misc"
            ". table table ."
            "footer footer footer footer";
    }
    p{
        font-size: 1.2em;
    }
}
