#birds {
    background-image: url("../images/sky.jpg");
}

figure, nav, p, footer, h1{
    background-color: rgba(255,255,255,.5)
}

h1{
    text-align: center;
    color: blue;
}

p{
    padding:10px;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    width:16.5%;
    text-align: center;
}



nav ul{
    padding:0;
    text-align: justify;
}

#index{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 30% 30% 10%;
    grid-template-areas: 
        "nav nav"
        "header header"
        "img1 img2"
        "img3 img4"
        "footer footer";
}

nav{
    grid-area: nav;
}

header{
    grid-area: header;
}

#index .mammals{
    grid-area: img1;
}

#index .fish{
    grid-area: img2;
}

#index .birds{
    grid-area: img3;
}

#index .misc{
    grid-area: img4;
}

footer{
    grid-area: footer;
}

#fish, #mammals, #misc, #birds{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 30% 30% 10%;
    grid-template-areas: 
        "nav nav"
        "header header"
        "img1 info1"
        "img2 info2"
        "footer footer";
}



#fish, #mammals, #misc, #birds :nth-child(3){
    grid-area: img1;
}

#fish, #mammals, #misc, #birds :nth-child(4){
    grid-area: info1;
}

#fish, #mammals, #misc, #birds :nth-child(5){
    grid-area: img2;
}

#fish, #mammals, #misc, #birds :nth-child(6){
    grid-area: info2;
}
