#birds {
    background-image: url("../images/sky.jpg");
}

#fish {
    background-image: url("../images/water.jpg");
}

#mammals {
    background-image: url("../images/land.jpg");
}

figure, nav, p, footer, h1{
    background-color: rgba(255,255,255,.5)
}

img{
    width:100%;
}

a{
    color: black;
}

.activePage{
    color: white;
}

figure{
    text-align: center;
}

h1{
    text-align: center;
    color: blue;
}

p{
    padding:10px;
}

nav ul li a{
    padding:9% 30%;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    width:16.5%;
    padding: 1% 0%;
    text-align: center;
}


nav ul{
    padding:0;
    text-align: justify;
    width:100%;
}




nav a{
    background-color: greenyellow;
    padding: 9% 30%;
    transition: padding 1s;
}

nav a:hover{
    background-color: yellow;
    padding: 9% 40%;
}


@keyframes colorChange{
    0%   {color: black}
    50%   {color: white}
    100%   {color: black}
}

.activePage a{
    animation: colorChange 0.9s ease 0.9s 10000000000;
}



#index{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 30% 30% 10%;
    grid-template-areas: 
        "nav nav"
        "header header"
        "img1 img2"
        "img3 img4"
        "footer footer";
}


#index figure{
    padding:0;
    margin:0;
    width:100%;
}
    nav{
    grid-area: nav;
}

header{
    grid-area: header;
}

#index:nth-child(3){
    grid-area: img1;
}

#index:nth-child(4){
    grid-area: img2;
}

#index:nth-child(5){
    grid-area: img3;
}

#index:nth-child(6){
    grid-area: img4;
}

footer{
    grid-area: footer;
}

#fish, #mammals, #misc, #birds{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 30% 30% 10%;
    grid-template-areas: 
        "nav nav"
        "header header"
        "img1 info1"
        "img2 info2"
        "footer footer";
}



#fish, #mammals, #misc, #birds :nth-child(3){
    grid-area: img1;
}

#fish, #mammals, #misc, #birds :nth-child(4){
    grid-area: info1;
}

#fish, #mammals, #misc, #birds :nth-child(5){
    grid-area: img2;
}

#fish, #mammals, #misc, #birds :nth-child(6){
    grid-area: info2;
}


@media all and (max-width: 850px) {
    nav ul li{
        padding: 1% 5%;
    }
}

@media all and (max-width: 500px) {
    #fish, #mammals, #misc, #birds{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% 10% 20% 20% 20% 20% 20%;
        grid-template-areas: 
            "nav"
            "header"
            "img1"
            "info1"
            "img2"
            "info2"
            "footer";
}
}
